<h1>Thank you for your interest in <%= @app_name %>!</h1>
<p>
	Your email <%= @email %> was successfully added to the wait list.
	We'll notify you as soon as the service is up and running!
</p>
<p>
	Sincerely,<br />
	<br />
	<%= @app_name %>
</p>