#header {
	margin:20px 10px;
	height:38px;
	a {
	    margin-top:5px;
		color:#eee;
		&:hover {	    
		    background:#c3325f;
		    position:relative;
		    top:-1px;
    	    box-shadow:0 3px 5px #222;    	    
		}
	}
	.brand {
		position:absolute;
		top:10px;
		font-size:2em;
        box-shadow:0 3px 5px #222;
		padding:0.6em;
		font-family:Georgia, Cambria, sans-serif;
		background:#c3325f;
		a {}
		a:hover {
           box-shadow:none;
		}
	}
	.active {
	    background:#c3325f;
	    box-shadow:0 3px 5px #222;
	    &:hover{
		    top:-1px;
        }
	}
}